APP_NAME="Pixel CMS"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/PixelCMS
APP_TIMEZONE=America/Bogota

DB_HOST=localhost
DB_PORT=5432
DB_NAME=pixelcms
DB_USER=postgres
DB_PASS=

SESSION_NAME=pixelcms_session
SESSION_LIFETIME=120
